.toolbar {
    height: 60px;
    padding: 0px 0px 0px 30px;
    display: flex;
    align-items: center;
    background-color: #b0b7be;
    color: white;
    font-weight: 450;
}

.content {
    margin: 32px auto;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
    background-color: rgb(46, 40, 40);
  }