<div class="card-container">
    <div class="list-container">
        <div #firstList="cdkDropList" cdkDropList [cdkDropListData]="original" [cdkDropListConnectedTo]="secondList"
            class="list" (cdkDropListDropped)="drop($event)">
            <div cdkDrag class="entry" *ngFor="let line of original">
                <div class="entry-placeholder" *cdkDragPlaceholder></div>
                {{line}}
            </div>
        </div>
    </div>
    <div class="list-container">
        <div #secondList="cdkDropList" cdkDropList [cdkDropListData]="solution" [cdkDropListConnectedTo]="firstList"
            class="list" (cdkDropListDropped)="drop($event)">
            <div cdkDrag class="entry" *ngFor="let line of solution">
                <div class="entry-placeholder" *cdfooteragPlaceholder></div>
                {{line}}
            </div>
        </div>
    </div>

</div>
<footer *ngIf="getSecondListPopulated()">
    <span *ngIf="checkSolution()">Correct!</span>
    <span *ngIf="!checkSolution()">Incorrect.</span>
</footer>