<div class="card-container">
    <div class="list-container">
        <div #firstList="cdkDropList" cdkDropList [cdkDropListData]="original" [cdkDropListConnectedTo]="secondList"
            class="list" (cdkDropListDropped)="drop($event)">
            <div cdkDrag class="entry" *ngFor="let line of original">
                {{line}}
            </div>
        </div>
    </div>
    <hr>
    <div class="list-container">
        <div #secondList="cdkDropList" cdkDropList [cdkDropListData]="solution" [cdkDropListConnectedTo]="firstList"
            class="list" (cdkDropListDropped)="drop($event)">
            <div cdkDrag class="entry" *ngFor="let line of solution">
                {{line}}
            </div>
        </div>
    </div>
</div>
<div class="footer" *ngIf="getSecondListPopulated()">
    <span class="result" *ngIf="checkSolution()">Correct!</span>
    <span class="result" *ngIf="!checkSolution()">Incorrect.</span>
</div>